@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
    --font-marcellus: "Marcellus", serif;
    --color-primary: #edc458;
    --text-secondary: black;
}

.orange-color {
    color: #edc458;
}
html {
    overflow-x: hidden !important;
}
body {
    font-family: var(--font-sans);
    color: white;
    overflow-x: hidden !important;
}
/* Header or Footer  */
.underline {
    position: relative;
}
.underline::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #edc458;
    transition: width 0.3s ease, right 0.3s ease;
}
.underline:hover::after {
    width: 100%;
    right: 0;
    left: auto;
}

.thm-btn {
    vertical-align: middle;
    -webkit-appearance: none;
    color: #fff;
    text-transform: capitalize;
    z-index: 1;
    background: linear-gradient(270deg, #fa5674 0%, #6065d4 100%);
    border-radius: 12px;
    align-items: center;
    gap: 10px;
    padding: 18px 25px 17px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    transition: all 0.5s linear;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    outline: none !important;
    border: none;
    cursor: pointer;
}

.thm-btn::before {
    content: "";
    background-color: #ffd25d;
    z-index: -1;
    width: 50%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out,
        visibility 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.thm-btn::after {
    background-color: #ffd25d;
    content: "";
    z-index: -1;
    width: 50%;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out,
        visibility 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.thm-btn:hover::before {
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.thm-btn:hover::after {
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.thm-btn:hover {
    color: #333;
}

.float-horizontal {
    animation: floatX 3s ease-in-out infinite;
}

@keyframes floatX {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}
.header-sticky {
    position: sticky !important;
    top: 0 !important;
    background: rgba(11, 25, 44, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

@keyframes floatY {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.float-animate {
    animation: floatY 3s ease-in-out infinite;
}

@keyframes step-scroll {
    0%,
    20% {
        transform: translateX(0);
    }

    25%,
    45% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

.step-slider {
    display: flex;
    animation: step-scroll 12s infinite steps(1);
}

@keyframes floatWave {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

.wave-animate {
    animation: floatWave 5s ease-in-out infinite;
}

.preview-img {
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.6s ease-out;
}

.preview-img.reveal {
    clip-path: inset(0 0 0 0);
}
